.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.single-user{
  border: 2px solid lightskyblue;
  width: 300px;
  height: 200px;
  margin: auto;
  box-shadow: 3px 3px 3px lightskyblue;
  margin-bottom: 10px;
}
.input-wrapper{
  margin: 10px;
}
.input-wrapper input{
  padding: 10px 20px;
  border-color: lightskyblue;
  border-radius: 5px;
}


.radio-wrapper {
  margin-bottom: 10px;
}
.radio-wrapper label {
  margin-right: 20px;
}
